<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ruyiRuyi.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>36A8AE1B2091C6BE00A6E883</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>36A8AE332091C6BF00A6E883</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>36A8AE3E2091C6BF00A6E883</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
